* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: white;
}

#nav {
    height: 100px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;

}

#nav_part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;


}

#nav h3 {
    font-size: 17px;
    border: solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 15px;
}

#nav i {
    font-size: 17px;
    border: solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 15px;
}

#nav h1 {
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}

#nav button {
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5 solid black;
    font-size: 17px;
    font-weight: 600;
    background-color: white;
}

#btn2 {
    border: none;
    color: white;
    background-color: orangered !important;
}

#main>h1 {
    font-size: 130px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;

    transform: translate(-50% -50%);
    width: 100%;
    text-align: center;
}

img {
    height: 300px;
    width: 250px;
    object-fit: cover;
    position: absolute;
    top: 60%;
    left: 50%;
    border-radius: 10%;
    transform: translate(-50%, -50%);
    ;
}

#img1 {
    transform: translate(-50%, -50%) rotate(-30deg);

}

#img2 {
    transform: translate(-50%, -50%) rotate(-20deg);

}

#img3 {
    transform: translate(-50%, -50%) rotate(-10deg);

}

#img4 {
    transform: translate(-50%, -50%) rotate(-1deg);

}

#btn_left {
    position: absolute;
    bottom: 40px;
    left: 20px;
    font-size: 17px;

}

#arrow {
    position: absolute;
    bottom: 20px;
    left: 52%;
    font-size: 60px;
    /* Increase the font size to increase arrow size */
    font-weight: 10px;
    transform: translateX(-50%);
}

#logo {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}

#logo1 {
    position: absolute;
    bottom: 50px;
    left: 1300px;
    font-size: 20px;
    font-weight: 10px;
    transform: translateX(-50%);

}

#logo2 {
    position: absolute;
    bottom: 50px;
    left: 1400px;
    font-size: 20px;
    font-weight: 10px;
    transform: translateX(-50%);

}

#logo3 {
    position: absolute;
    bottom: 50px;
    left: 1350px;
    font-size: 20px;
    font-weight: 10px;
    transform: translateX(-50%);

}
#btn_right {
    position: absolute;
    bottom: 30px;
    left: 1270px;
    font-size: 17px;
}